.Contain {
  display: flex;
}

* {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.absolute {
  /* position: static; */
  position: absolute;
  z-index: 2;
}

.GoSidebarCollapse {
  color: white;
  width: 80px;
  height: 80px;
  background-color: #212529;
}

.Content {
  width: 100%;
}

.sidebar {
  height: calc(100vh - 100px);
}

.visible-sidebar {
  visibility: visible;
}

.hidden-sidebar {
  margin-left: -250px;
}

.hover-effect:hover {
  background-color: #112b53;
}
.Post {
  margin: 30px 46px;
  border: 2px solid #0d6efd !important;
  border-radius: 10px !important;
}

.Body {
  font-family: "Major Mono Display", monospace;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: larger;
  font-style: normal;
}

.Title {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  font-style: normal;
}

.tag {
  margin: 0px 2px;
}

.box {
  display: flex;
  min-height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100%;
}

.Likebtn {
  margin: 5px 0px;
  width: 50px;
  height: 40px;
}

.Likediv:hover {
  color: #0a3678;
  background-color: #bdd7ff;
  cursor: pointer;
  transform: scale(1.06);
}

.Likediv {
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.28, 1.06),
    background-color 0.3s cubic-bezier(0.61, 0, 0.28, 1.06),
    color 0.3s cubic-bezier(0.61, 0, 0.28, 1.06);
  font-size: x-large;
  display: flex;
  align-items: center;
  max-width: 150px;
  border: 1px solid #0d6efd;
  margin: 15px;
  border-radius: 7px;
  justify-content: center;
}

.deleteIcon {
  transition: background-color 0.3s cubic-bezier(0.61, 0, 0.28, 1.06);
  background-color: black;
}

.deleteIcon:hover {
  background-color: red;
  cursor: pointer;
}

.Footer {
  height: 30px;
  position: absolute;
  min-width: 100%;
  left: 0;
}

.CreatePost {
  border: 2px solid #0d6efd;
  border-radius: 7px;
  margin: 10px 20px;
  padding: 20px;
  width: 400px;
}

.Liked {
  background-color: #60a0ff;
}
